.bg
{
	position: absolute;
	top:0px;
	display: block;
	z-index: -2;
	width: 1280px;
	height: 752px;
	background: url('../img/back.png') no-repeat;
}

.pacient
{
top:20px;
left:400px;/*165*/
background: url('../img/sad.png') no-repeat;
width: 835px;
height: 510px;
z-index: 1;
position: absolute;
}


.pill
{
transform:rotate(45deg);
-moz-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
position: absolute;
top:120px;
left:140px;
background: url('../img/pill.png') no-repeat;
width: 80px;
height: 35px;
z-index: 1;
}


.rotate {
transition: transform 3s;
transform: rotate(430deg);
}

/* Safari and Chrome */

@-webkit-keyframes rotate  {
  from {
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  to {
    -ms-transform: rotate(430deg);
    -moz-transform: rotate(430deg);
    -webkit-transform: rotate(430deg);
    -o-transform: rotate(430deg);
    transform: rotate(430deg);
  }
}
@keyframes rotate {
  from {
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  to {
    -ms-transform: rotate(430deg);
    -moz-transform: rotate(430deg);
    -webkit-transform: rotate(430deg);
    -o-transform: rotate(430deg);
    transform: rotate(430deg);
  }
}

.rotate {
  -webkit-animation: rotate 3s ;
  -moz-animation: rotate 3s ;
  -ms-animation: rotate 3s ;
  -o-animation: rotate 3s;
  animation: rotate 3s ;
}
