 .buttons-input {
  top:635px;
  left:330px;
  overflow: hidden;
  position: absolute;
  float: left;
  z-index: 1;
}

 input[type="button"] {
  width: 203px;
  height: 69px;
  border:none; 
  float: left;
  cursor: pointer;
  margin-right: 15px;
}

#day
{
    background: url('../img/day-sprite.png') no-repeat;
    background-position: -2px 0px;
}

#week
{
    background: url('../img/week-sprite.png') no-repeat;
    background-position: -2px 0px;
}
#mounth
{
    background: url('../img/mounth-sprite.png') no-repeat;
    background-position: -2px 0px;
}

#mounth.turn,#week.turn,#day.turn {
  background-position: -2px -77px;
}

