#roller
{
position: absolute;
  margin:-30px;
  width:90px;
  height:90px;
}

/* линия-индикатор */
#rollerContainer {  /* контейнер */
position: absolute;
-webkit-appearance: none;
appearance: none;
margin-left: 175px;
margin-top:10px;
width: 920px;
height: 1px;
top:530px;
background:linear-gradient(#9B9B9B, #ccc);
}


#redBoxContainer{
top:465px;
left:165px;/*165*/
background: url('../img/roller red.png') no-repeat;
width: 44px;
height: 46px;
z-index: 0;
position: absolute;
}


#numbersContainer{
top:475px;
left:178px;
background: url('../img/figures.png') no-repeat;
width: 941px;
height: 24px;
z-index: 1;
position: absolute;
}