#content {
width:12800px;

}

.slider {
float:left;
width:1280px;
height:752px;
position:relative;
}

.sliderContent {
float:left;
width:1280px;
height:752px;
clear:both;
position:relative;
overflow:hidden;
}

.sliderArrows a {
display:block;
text-indent:-9999px;
outline:none;
z-index:5;
background-image:url(../img/arrows-sprite.png);
width:32px;
height:59px;
position:absolute;
top:50%;
margin-top:-34px;
}

.prev {
background-position:0 0;
left:15px;
}

.next {
right:15px;
background-position:-32px 0;
}

.sliderContent .item {
position:absolute;
width:1280px;
height:752px;
background:#fff;
}

a {
color: #fff;
}
a:hover{
cursor:default;
}