  /* #bg {
    height: 725px;
    width: 1280px;
  background: url(img/back.png) 100% 100% no-repeat; 
    background-size: cover;*/

#buttons
{
	display: block;
	margin: -1280px auto 0px;
}

#slider
{
	display: block;
	background:#fff;
	/*margin: 70px auto 0px;*/
}