  /* #bg {
    height: 725px;
    width: 1280px;
  background: url(img/back.png) 100% 100% no-repeat; 
    background-size: cover;*/

#roller
{
	display: block;
	margin: -725px 0px 0px 0px;
	z-index: 1;
}

#slider
{
	display: block;
	background:#fff;
	/*margin: 70px auto 0px;*/
}

