#bg
{
	position: absolute;
	top:0px;
	display: block;
	z-index: -2;
	width: 1280px;
	height: 752px;
	background: url('img/back.png') no-repeat;
}

#pacient
{
top:20px;
left:400px;/*165*/
background: url('img/sad.png') no-repeat;
width: 835px;
height: 510px;
z-index: 1;
position: absolute;
}


#pill
{

position: absolute;
top:120px;
left:140px;
background: url('img/pill.png') no-repeat;
width: 80px;
height: 35px;
z-index: 1;
}


.rotate {
transition: transform 3s;
transform: rotate(430deg);
}

.hide{
display: none;
}