#roller
{
  margin:-30px;
  width:90px;
  height:90px;
}

/* линия-индикатор */
#rollerContainer {  /* контейнер */
-webkit-appearance: none;
appearance: none;
margin-left: 175px;
margin-top:10px;
width: 920px;
height: 1px;
top:-240px;
background:linear-gradient(#9B9B9B, #ccc);
}